@import "bootstrap.css";


body, footer {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

a {
    color: deepskyblue;
    text-decoration: none;
}

body .row {
    margin: 0 2rem 0.5rem;
}

.cfc-logo {
    padding: 1rem 2rem 0.5rem;
    margin: auto;
}

.cfc-logo img {
    max-height: 200px;
    display: block;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

.donate {
    text-align: center;
    display: block;
    border-radius: 0.5rem;
    margin: 1rem;
}

.donate a {
    color: skyblue;
    padding: 0.5rem 2rem;
    border: 5px solid skyblue;
    border-radius: 0.5rem;
    font-size: xx-large;
}

.donate h3, .donate p {
    color: skyblue;
}

.text {
    text-align: center;
    display: block;
    padding: 1rem 2rem 0;
    color: white;
    text-wrap: normal;
}
.text h1 {
    font-size: xxx-large;
    font-weight: bolder;
}

.text h2 {
    font-size: xx-large;
    font-weight: bolder;
}

.text h3 {
    font-size: x-large;
    font-weight: bolder;
}

.text p {
    font-size: large;
    font-weight: bold;
}

.announcement {
    border-radius: 0.5rem;
    border: 5px solid orange;
    text-align: center;
    margin: auto;
    display: block;
}

.announcement h2, .announcement h3, .announcement p {
    color: orange;
    font-weight: bolder;
}

.view {
    display: block;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background: white;
    height: 300px;
}

.view img, .view iframe {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    object-fit: contain;
}

.logo {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    height: 120px;
    object-fit: contain;
}

.logo img {
    padding: 0.5rem;
    margin: auto;
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

footer {
    padding: 0.5rem 2rem 1rem;
    text-align: center;
    margin: auto;
}

footer p {
    font-size: small;
    margin-bottom: 0;
    color: white;
}